apiVersion: apps/v1
kind: Deployment
metadata:
  name: flink-job
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flink-job
  template:
    metadata:
      labels:
        app: flink-job
    spec:
      containers:
        - name: flink-job-container
          image: 376163012258.dkr.ecr.us-east-1.amazonaws.com/flink-loan-app:latest
          ports:
            - containerPort : 8081